---
import ImageWrapper from "@components/misc/ImageWrapper.astro";

interface Props {
	title: string;
	content: string;
	avatar: string;
}

const { title, content, avatar } = Astro.props;
---

<div class="bg-white/10 dark:bg-stone-800/10 backdrop-blur-3xl rounded-2xl shadow-xl p-4">
	<div class="flex items-start gap-4">
		<div class="flex-shrink-0">
			<ImageWrapper
				src={avatar}
				alt="公告头像"
				class="w-12 h-12 rounded-full object-cover border-2 border-orange-100 dark:border-stone-700"
				loading="lazy"
			/>
		</div>
		<div class="flex-1">
			<p class="font-bold text-orange-700 dark:text-white">{title}：</p>
			<p class="text-gray-600 dark:text-gray-300">{content}</p>
		</div>
	</div>
</div>
