---
import MessageBoard from "./MessageBoard.svelte";

interface Props {
	slug?: string;
}

const { slug: propSlug } = Astro.props;

let slug = propSlug || Astro.url.pathname;
if (slug.length > 1 && slug.endsWith("/")) {
	slug = slug.slice(0, -1);
}
---

<div class="mt-8 mb-8">
	<MessageBoard client:visible {slug} />
</div>